.contactus {
    background-image: url('https://raw.githubusercontent.com/dhilip1201/car-spa/main/banner5.jpg');
    background-position: center;
    background-size: fill;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 50px;
  }